body{
  background-color: lightgrey;
}

h1 {
  font-size: 70px;
  font-weight: bolder;
  margin-bottom:0px;
  font-family: tahoma;
}
span {
  font-size: 60%;

}

hr {
  font-weight: bold;
  margin: 0px;
  margin-bottom: auto;
}

p {
  margin: 0px;
  font-weight:bold;
  font-family: helvetica;
  color: gray;
}

#number-of-cols {
  border: none;
  border-radius: none;
}

#number-of-rows {
  border: none;
  border-radius: none;
}
.cell {
  width: 16px;
  height: 16px;
  border: none;
  background-color: black;
}

.cell:hover {
  border: 1px solid white;
}

.centered {
  /*margin: auto;*/

}

#main-bar {
  width: 100%;
  height: 5%;
  background-color: #92f975;
  margin-bottom: 30px;
}

div .form-group label{
  display: inline;
}

div .form-group input {
  display: inline;
}

#update-grid-button {
  margin:0px;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  border-style:none;
  background-color: transparent;
  border-radius: none;
}

#update-grid-button:hover {
  border-top: 5px solid grey;
}

#fill-grid-button {
  border-style:none;
  border-radius: none;
  font-family: arial;
  font-weight: bold;
  /*position: fixed;*/
  font-size: 25px;
  color: white;
  margin: 0px;
  padding: 20px;
  background-color: transparent;
}

#fill-grid-button:hover{
  border-top: 5px solid grey;
}

#error-box p {
  margin: 0px;
  margin-bottom: 5px;
  font-size:35px;
  font-weight: bold;
  color: red;
}

#error-box p:hover {
  color: white;
}

#color-picker {
  /*float:right;*/
  border-style:none;
  font-family: arial;
  font-weight: bold;
  position: fixed;
  font-size: 25px;
  color: white;
  margin: 0px;
  padding: 20px;
}

#color-picker:hover {
  border-top: 5px solid grey;
  }

#color-picker span {
  color: white;
  font-family:helvetica;
  font-size:inherit;
  /*padding: 0px;*/
  /*background-color: black;*/
}

.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
